<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="ProgramList" value="steam.exe,EpicGamesLauncher.exe,upc.exe" />
    <add key="UseCpuControl" value="false" />
    <add key="CpuWakeProgramList" value="steam.exe,EpicGamesLauncher.exe,upc.exe,devenv.exe" />
    <add key="CpuLowMaxPercent" value="20" />
    <add key="TargetPort" value="5000" />
    <add key="LocalIpAddress" value="192.168.1.2" />
    <add key="TimeoutInMinutes" value="1" />
    <add key="TargetMacAddress" value="AA-AA-AA-AA-AA-AA" />
    <add key="TargetIpAddress" value="192.168.1.3" />
  </appSettings>
</configuration>